@font-face {
font-family: "Simpsonfont";
src: url("fonts/simpsons/Simpsonfont.ttf") format("truetype");
}

body {
	font-family: "Simpsonfont";
	background-image: url(../images/background2.jpg);
}

h1 {
	font-size: 5.5rem;
	color: gold;
}

h1, #time, #question, #answers {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

button {
	background: none;
	border: none;
}

button:focus {
  outline: none;
}

img {
	width: 500px;
	margin-right: auto;
    margin-left: auto;
}

#startButton, #restart {
    margin-top: 80px;
    padding: 15px;
    background-color: gold;
    border: 1px solid black;
 }

#startButton:hover, #restart:hover {
	background-color: #ead520;
}

#time, #question, #results, #restart {
	line-height: 45px;
    font-size: 35px;
   	color: black;
   	display: none;
    margin-right: auto;
    margin-left: auto;
}

#restart, #results {
	font-size:30px;
}

#results {
    margin-top: 40px;
}

#question {
	width: 70%;
	letter-spacing: 2px;
	margin-top: 15px;
	margin-bottom: 20px;
}

#time {
	margin-top: 38px;
	color: gold;
} 

#gif {
	font-size: 25px;
}

.choice, #choices{
 	display: none;
	color: black;
	font-size: 30px;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	padding: 5px;
}

.choice:hover {
	color: gold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	border: 1px solid black;
	font-size: 35px;
}

#mainContent {
	position: relative;
    top: 70px;
    height: 583px;
}

@media screen and (max-width: 500px) {
	img {
		width: 90%;
	}
	
	h1 {
		font-size: 60px; 	
	}

	#restart {
		margin-top: 34px;
	}

	#time, #results {
		font-size: 25px;
	}
	
	.choice, #choices, #question {
		font-size: 25px;
		width: 90%;
		margin-bottom: 0;
	}

	.choice:hover{
		font-size: 30px;
	}

/*	html.can-touch .choice:hover {
	color: black;
	text-shadow: none;
	border: none;
	font-size: 25px;
	}*/

}

@media (hover:on-demand) {
    color: black;
	text-shadow: none;
	border: none;
	font-size: 25px;
}